html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111;
  }
  #gameContainer {
    height: calc(100vh - 4px);
    width: calc((100vh - 4px) * 9 / 16);
    background-color: #000;
    border: 4px dashed #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
  }
  canvas {
    width: 100%;
    height: 100%;
  }
  #startScreen, #gameScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100%;
    width: 100%;
    position: absolute;
  }
  h1, h2 {
    color: white;
    margin: 10px 0;
  }
  button {
    background-color: #444;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
  }
  button:hover {
    background-color: #666;
  }
  #gameScreen {
    display: none;
  }
  #controlPanel {
    position: absolute;
    bottom: 10px;
    display: flex;
    gap: 10px;
  }